
.slider .slick-multiItemSlider {
  display: flex;
}
.movie-items .movie-item {
  width: 100%;
}
.movie-items .slide-it {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin: 5px;
  min-width: 200px;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn {
  width: 37px !important;
  padding: 10px 5px !important;
  height: 37px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #f54b24;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  right: -5px;
  .alice-carousel__next-btn-item {
    color: #fff !important;
  }
}
.alice-carousel__prev-btn {
  left: -5px;
  .alice-carousel__prev-btn-item {
    color: #fff !important;
  }
}
.overlay .login-content p {
  margin: 0 !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:rgb(148, 147, 148) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: rgb(148, 147, 148) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: rgb(148, 147, 148) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(148, 147, 148) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(148, 147, 148) !important;
}

::placeholder { /* Most modern browsers support this now. */
 color: rgb(148, 147, 148) !important;
}
@media only screen and (max-width: 1024px) {
  .alice-carousel__prev-btn {
    left: 10px
  } 
  .alice-carousel__next-btn {
    right: 10px;
  } 
}
@media only screen and (max-width: 768px){
  .overlay .login-content{
    padding-top: 10px;
    label {
     display: flex;
     align-items: center;
     input {
       width: 70%;
       margin-left: 10px;
       margin-top: 0;
     }
   }
  }
} 