.movie-items .movie-item {
  width: 30%;
}
.slider .slick-multiItemSlider {
  display: flex;
}
.movie-items .movie-item {
  width: 100%;
}
.movie-items .slide-it {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin: 5px;
  min-width: 200px;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn {
  width: 37px !important;
  padding: 10px 5px !important;
  height: 37px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #f54b24;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 20px;
  .alice-carousel__next-btn-item {
    color: #fff !important;
  }
}
.alice-carousel__prev-btn {
  position: absolute;
  top: 50%;
  left: 20px;
  .alice-carousel__prev-btn-item {
    color: #fff !important;
  }
}